[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyboard = "*"
pyautogui = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
deploy = "pyinstaller main.py --onefile --noconsole --clean --name 'ScrernShotTool' --icon icon.ico"
